@charset "UTF-8";
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #F7F7FF !important; }

body {
  background-color: #F7F7FF; }

    .barraNavMacro {
    padding-bottom: 3rem;
    display: flex; }

    .nav-link {
    display: flex;
    font-size: calc(0.6rem + 0.8vw);
    padding-left: calc(0.2rem + 2vw);
    padding-right: calc(0.2rem + 2vw);
    font-weight: bold;
    color: #43386B; }

    .navbar-brand {
        display: flex;
        font-size: calc(0.6rem + 0.8vw);
        padding-left: calc(0.2rem + 2vw);
        padding-right: calc(0.2rem + 2vw);
        font-weight: bold;
        color: #43386B; }


    .titulo{
    margin-top: calc(0.6rem + 0.8vw);
    text-align: center;
    }

    .container{
      background-color: #F7F7FF;
      align-items: center;
    }


    .mainContent{
      padding-top: calc(0.6rem + 0.8vw);
      background-color: #F7F7FF;
      text-align: center;
      justify-content: center;
    }




